@model KM.SysControlAdmin.EN.Schedules___EN.Schedule

@{
    ViewData["Title"] = "Eliminar Horario";
}

<h1>Eliminar Horario Existente</h1>

<p class="alert alert-danger">¿Estas Seguro De Eliminar el Siguiente Registro? Recuerda No Puedes Revertir Los Cambios.</p>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
    <form id="Form" asp-action="Delete" onsubmit="CreateRecord(event)">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar Horario" class="btn btn-danger" /> |
        <a class="btn btn-outline-secondary" asp-action="Index">Regresar a La Lista</a>
    </form>
</div>

@section Scripts {
    <script>
        // Funcion para estructura de alerta para Error
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }
        // Mostrar alerta de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }
        // Funcion para la alerta
        function CreateRecord(e) {
            e.preventDefault();
            const form = document.getElementById('Form');

            Swal.fire({
                title: '¿Eliminar Este Horario?',
                text: '¿Estas Seguro De Eliminar el Siguiente Horario? Recuerda No Puedes Revertir Los Cambios',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, Eliminar Horario',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>

}